.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 4vmin;
    pointer-events: none;
  }
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
} 