.App-logo {
  height: 8vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 8vmin;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-footer{
  background-color: #282c34;
  min-height: 5vmin;
  color: white;
}

